---
import { ExperienceList } from "../components/ExperienceList";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import MainContent from "../components/MainContent.astro";
import { getExperience } from "../content/experience";
import Layout from "../layouts/Layout.astro";

const experience = (await getExperience()).sort((a, b) => +b.data.startDate.valueOf().split(" ").at(-1)! - +a.data.startDate.valueOf().split(" ").at(-1)!);
---

<Layout title="Mufaro">
  <main class="relative">
    <MainContent>
        <Header />
        <ExperienceList
          client:only="react"
        experiences={experience} />
    </MainContent>
    <Footer />
  </main>
</Layout>
