---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mufaro">
  <main class="container space-y-4 m-auto px-4 sm:px-0 place-self-center text-text-foreground leading-4">
    <div class="flex items-center gap-6 mb-10">
      <img src="/alya.webp" alt="Profile Picture" class="w-14 h-14 rounded-lg"></img>
      <h1 class="font-extrabold text-[1.8rem]">Mufaro</h1>
    </div>
    <Card class="min-h-28" title="About Me">
      Hello world 
    </Card>
	</main>
</Layout>
