---
import NavigationBar from "./navigation-bar.astro";
---

<footer class="relative w-full py-6">
  <NavigationBar />
  
  <div class="max-w-5xl mx-auto px-4 pt-8 pb-4 text-center text-white/40 text-sm">
    <p>© {new Date().getFullYear()} mufaro • Built with Astro</p>
  </div>
</footer>