---
import NavigationBarDecoration from "./NavigationBarDecoration.astro";
import NavigationBarRoutes from "./NavigationBarRoutes.astro";
---

<div class="absolute w-full bottom-0">
    <NavigationBarDecoration>
      <NavigationBarRoutes />
    </NavigationBarDecoration>
  </div>