---
const currentUrl = Astro.site?.pathname;
---

<div class="flex items-center gap-6 text-white px-6 py-8">
  <div class="flex items-center gap-6">
    <a href="/" id={currentUrl}>
      <img
        src="/alya.webp"
        alt="Profile Picture"
        class="rounded-sm grayscale-[0.3]"
        width={64}
        height={64}
        transition:name="profile"
        transition:animate="fade"
      />
    </a>
  </div>
  <div
    class="flex self-stretch justify-around gap-2 flex-col"
    transition:name="headerinfo"
  >
    <div>
      <h1 class="font-black text-4xl m-0 p-0">Mufaro</h1>
      <p class="font-medium">17yo. software dev | polish</p>
    </div>
  </div>
</div>
