---
import NavigationBarProgressiveBlur from "./NavigationBarProgressiveBlur.astro";
---

<div
  class="h-dvh mx-auto max-w-[52rem] w-screen border-x border-white border-dashed flex flex-col relative"
>
  <slot />
  <NavigationBarProgressiveBlur />
</div>
