---
import NavigationBarProgressiveBlur from "./NavigationBarProgressiveBlur.astro";
---

<div
  class="h-dvh mx-auto w-screen border-x border-white border-dashed flex flex-col relative"
>
  <slot transition:animate="fade" />
  <NavigationBarProgressiveBlur />
</div>
