---
import 'non.geist/mono';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
    <meta charset="UTF-8" /> 
    <meta name="description" content="Mufaro's portfolio" />
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col">
    <slot />

    <div class="flex gap-4 flex-col items-center justify-center mb-4 font-bold py-4">
      <span class="text-theme-foreground">mufaroxyz(c) 2024</span>
    </div>
	</body>
</html>
<style is:global>
	html {
    font-family: "Geist Mono Variable", system-ui, sans-serif;
    background: theme(colors.background);
	}
  code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
  }

  html,
  body {
    min-height: 100svh;
  }

  a {
    text-decoration-line: underline;
    text-underline-offset: 0.25rem;
    transition: color 0.1s ease-in-out;
  
    &:hover {
      color: theme(colors.theme.foreground.secondary)
    }
  }
</style>
