---
import "non.geist/mono";
import "non.geist";
import '../components/tw.css'
import { ClientRouter } from "astro:transitions";
import DotBackgroundWrapper from "../components/DotBackgroundWrapper.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Mufaro's portfolio" />
    <meta
      name="keywords"
      content="mufaro, mufaroxyz, software, developer, portfolio, projects, oss, typescript"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:title"
      content={`Mufaro ${title.toLowerCase() != "mufaro" ? title : ""}`}
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mufaro.dev" />
    <meta property="og:image" content="https://mufaro.dev/alya.webp" />
    <meta
      property="og:description"
      content="self-taught software developer from Poland. OSS enthusiast"
    />
    <meta name="theme-color" content="#ded2e8" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="flex flex-col">
    <DotBackgroundWrapper>
      <slot />
    </DotBackgroundWrapper>

    <div
      class="fixed top-0 left-[50%] -translate-x-[50%] text-base text-yellow-500 font-bold lg:hidden"
    >
      <span class="text-yellow-300">! Mobile support WIP !</span>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --smooth-animation: cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes bump {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  html {
    font-family: "Geist Variable", system-ui, sans-serif;
    background: theme(colors.background);
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  ::selection {
    background: theme(colors.theme.foreground.secondary);
  }

  ::-moz-selection {
    background: theme(colors.theme.foreground.secondary);
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  ::-webkit-scrollbar-thumb {
    background: theme(colors.background);
    border-radius: 0.25rem;
  }

  .geist-mono {
    font-family: "Geist Mono Variable", system-ui, sans-serif;
  }

  html::after {
    content: "";
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4) 1px, transparent 1px); */
    background-size: 2px 2px;
    background-repeat: repeat;
    pointer-events: none;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  html,
  body {
    min-height: 100svh;
    overflow-x: hidden;
  }

  a.link {
    text-decoration-line: underline;
    text-underline-offset: 0.25rem;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: theme(colors.theme.foreground.secondary);
    }
  }

  .mask-border {
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
    pointer-events: none;
    overflow: hidden;
  }

  .element-glow {
    position: absolute;
    opacity: 100;
    z-index: 1;
  }
</style>

<script>
  import { initGlowEffect } from "../utils";

  document.addEventListener("DOMContentLoaded", () => {
    initGlowEffect();
  });

  document.addEventListener("astro:page-load", () => {
    initGlowEffect();
  });
</script>