---
import { cn } from "../../util";

const { class:className, title } = Astro.props;
---

<div class={cn("relative border-t-2 border-theme-foreground rounded-sm", className)}>
  <span class="absolute bg-background px-2 py-1 translate-y-[-50%] left-4 select-none font-bold text-theme-foreground border-0 border-theme-foreground rounded-lg">{title}</span>
  <div class="mt-1 px-8 py-6 text-[1.2rem] leading-7 text-lg font-semibold">
    <slot />
  </div>
</div>

<style>
  span {
    font-family: "Geist Mono Variable", system-ui, sans-serif;
  }
</style>